  section{
    width: 50%;
    height: 30%;
  }
  h1{
    background-color: #5F5F5F;
    color: white;
  }
  header{
    text-align: center;
    font-variant: small-caps;
    font-family: Sans-serif;
  }
  span{
    color: #DC082F;
    background-color: #F1F1F1;
  }
  ul{
    font-family: Courier;
  }
